<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
             [fullScreen]="true"><p style="color: white"> Cargando datos... </p></ngx-spinner>
<mat-tab-group class="section section-buttons">
    <mat-tab label="Buscador de personajes">
        <div class="container" align="center">
            <div class="tim-title">
                <h2>Buscador de personajes</h2>
            </div>

            <input matInput
                   placeholder="Introduce el nombre"
                   [(ngModel)]='nombreCharacter'>
            &nbsp;
            <button style="margin-bottom: 3%" mat-raised-button
                    color="primary" (click)="mostararCharactersByName()">Buscar
            </button>

            <table mat-table [dataSource]="dataSourceBuscador" class="mat-elevation-z8" matSort
                   style="width: 100%">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="naparicionesComics">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de Apariciones en comics</th>
                    <td mat-cell *matCellDef="let element"> {{element.aparicionesEnComics}} </td>
                </ng-container>
                <ng-container matColumnDef="cantidadPoderes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>numero total de poderes</th>
                    <td mat-cell *matCellDef="let element"> {{element.numeroPoderes}} </td>
                </ng-container>
                <ng-container matColumnDef="numeroCrossovers">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de crossovers</th>
                    <td mat-cell *matCellDef="let element"> {{element.numeroCrossovers}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef=" let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, dataSourceBuscador.data.length]"
                           showFirstLastButtons>
            </mat-paginator>

        </div>
    </mat-tab>
    <mat-tab label="Buscador de comics">
        <div class="container" align="center">
            <div class="tim-title">
                <h2>Buscador de comics</h2>
            </div>


            <div>
                <input atInput placeholder="Introduce el nombre"
                       [(ngModel)]='comicNameSerach'>
                <button style="margin-bottom: 3%" mat-raised-button
                        color="primary" (click)="buscarComic()">Buscar
                </button>
                <div *ngIf="comicSearch">
                    <table mat-table [dataSource]="dataSourceComic" class="mat-elevation-z8" matSort
                           style="width: 100%">

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef>Nombre</th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsComic"></tr>
                        <tr mat-row *matRowDef=" let row; columns: displayedColumnsComic"></tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, totalRecursos]"
                                   showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>


        </div>
    </mat-tab>
    <mat-tab label="Consultas sobre personajes">
        <div class="container" align="center">
            <div class="tim-title">
                <h2>Consultas sobre personajes</h2>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Seleccione Consulta</mat-label>
                    <mat-select [(ngModel)]="consultaSeleccionada" (ngModelChange)="llamarConsulta()">
                        <mat-option *ngFor="let consulta of consultas" [value]="consulta">
                            {{consulta}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <br><br><br>
            </div>
            <div *ngIf="consultaSeleccionada=='Todos los heroes' || consultaSeleccionada=='Heroe por nombre' || consultaSeleccionada=='Malos heroes'">


                <h2 *ngIf="consultaSeleccionada=='Todos los heroes'" style="text-align: center">Esta es la consulta
                    de
                    todos los
                    superheroes</h2>

                <h2 *ngIf="consultaSeleccionada=='Malos heroes'" style="text-align: center">Heroes con mas apariciones
                    como
                    villanos</h2>


                <table mat-table [dataSource]="dataSourceFront" class="mat-elevation-z8" matSort
                       style="width: 100%">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="naparicionesComics">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de Apariciones en comics</th>
                        <td mat-cell *matCellDef="let element"> {{element.aparicionesEnComics}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidadPoderes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>numero total de poderes</th>
                        <td mat-cell *matCellDef="let element"> {{element.numeroPoderes}} </td>
                    </ng-container>
                    <ng-container matColumnDef="numeroCrossovers">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de crossovers</th>
                        <td mat-cell *matCellDef="let element"> {{element.numeroCrossovers}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef=" let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, totalRecursos]"
                               showFirstLastButtons>
                </mat-paginator>

            </div>

            <div *ngIf="consultaSeleccionada=='Las chicas son guerreras'">
                <h2 style="text-align: center">Esta es la consulta donde se muestran personajes femeninos ordenados
                    por
                    cantidad de poderes</h2>

                <table mat-table [dataSource]="dataSourceFront2" class="mat-elevation-z8" matSort
                       style="width: 100%">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidadPoderes">
                        <th mat-header-cell *matHeaderCellDef>Cantidad de poderes</th>
                        <td mat-cell *matCellDef="let element"> {{element.powers_amount}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef=" let row; columns: displayedColumns2"></tr>
                </table>
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, totalRecursos]"
                               showFirstLastButtons>
                </mat-paginator>
            </div>

            <div *ngIf="consultaSeleccionada=='Quién es el heroe más poderoso'">
                <h2 style="text-align: center">Esta es la consulta donde se muestra el personaje con mas podres</h2>

                <h4>El personaje con un total de <span
                        style="color: red">{{cantidadPoderesPersonajeMasPoderes}}</span>
                    poderes es <span style="color: red">{{nombrePersonajeMasPoderes}}</span> el cual tiene un colo
                    de
                    ojos <span style="color: blue">{{colorOjosPersonajeMasPoderes}}</span>, aparece en un total de
                    <span
                            style="color: red">{{cantidadComicsPersonajeMasPoderes}}</span> comics, perteneciente a
                    la
                    editorial <span style="color: red">{{editorialPersonajeMasPoderes}}</span></h4>

            </div>

            <div *ngIf="consultaSeleccionada=='Quién es el más gordo'">
                <h2 style="text-align: center">Esta es la consulta donde se muestra el Consulta 1</h2>

                <h4>El Consulta 1 es <span style="color: red">{{nombrePersonajeConMasPeso}}</span> con un peso de
                    <span
                            style="color: red">{{pesoPersonajeConMasPeso}}</span>, tiene un color de ojos <span
                            style="color: blue">{{colorOjosPersonajeConMasPeso}}</span>, y aparece en un total de
                    <span
                            style="color: red">{{cantidadComicsPersonajeConMasPeso}}</span> comics.</h4>

            </div>

            <div *ngIf="consultaSeleccionada=='El heroe con mejores estadísticas'">
                <h2 style="text-align: center">Encuentra al mejor heroe de un comic (ej: 17486)</h2>

                <input matInput placeholder="Introduce id del comic"
                       [(ngModel)]='buscadorComic'>
                &nbsp;
                <button style="margin-bottom: 3%" *ngIf="consultaSeleccionada=='El heroe con mejores estadísticas'"
                        mat-raised-button
                        color="primary" (click)="mostrarHeroeMasPoderosoByComic()">Buscar
                </button>
                <div *ngIf="comicFound">
                    <h4>El mejor heroe de ese comic es: <span style="color: red">{{mejorHeroeDelComic}}</span>.</h4>
                </div>

            </div>

            <div *ngIf="consultaSeleccionada=='El villano más listo'">
                <h2 style="text-align: center">El villano con mas intelegencia es: <span
                        style="color: red">{{villanoMasListo}}</span></h2>
            </div>

            <div *ngIf="consultaSeleccionada=='El heroe más tonto'">
                <h2 style="text-align: center">El héroe con menos inteligencia es: <span
                        style="color: red">{{heroeMasTonto}}</span></h2>
            </div>

            <div *ngIf="consultaSeleccionada=='Quién es el más alto?'">
                <h2 style="text-align: center">El héroe mas alto es: <span
                        style="color: red">{{heroeMasAlto}}</span>
                </h2>
            </div>

            <div *ngIf="consultaSeleccionada=='Buscador de villanos'">
                <input atInput placeholder="Id del villano"
                       [(ngModel)]='idHeroSelected'>
                &nbsp;
                <button style="margin-bottom: 3%" *ngIf="consultaSeleccionada=='Buscador de villanos'" mat-raised-button
                        color="primary" (click)="getVillanoId()">Buscar
                </button>
                <div *ngIf="villanosEncontrados">
                    <table mat-table [dataSource]="dataSourceVillanos" class="mat-elevation-z8" matSort
                           style="width: 100%">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef>Nombre</th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsComic"></tr>
                        <tr mat-row *matRowDef=" let row; columns: displayedColumnsComic"></tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Consultas Top de apariciones">
        <div class="container" align="center">
            <div class="tim-title">
                <h2>Top apariciones de personajes</h2>
            </div>
            <div>
                <ngb-tabset [justify]="'center'" type="pills" class="nav-pills-info">
                    <ngb-tab title="FEMENINOS">
                        <ng-template ngbTabContent>
                            <h4>(Consulta 5)</h4>
                            <table mat-table [dataSource]="dataSourceWomen" class="mat-elevation-z8" matSort
                                   style="width: 100%">

                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>
                                <ng-container matColumnDef="naparicionesComics">
                                    <th mat-header-cell *matHeaderCellDef>Nº de apariciones</th>
                                    <td mat-cell *matCellDef="let element"> {{element.aparicionesEnComics}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsWomen"></tr>
                                <tr mat-row *matRowDef=" let row; columns: displayedColumnsWomen"></tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="MAS PODEROSOS">
                        <ng-template ngbTabContent>
                            <h4>(Consulta 10)</h4>
                            <table mat-table [dataSource]="dataSourceFront2" class="mat-elevation-z8" matSort
                                   style="width: 100%">

                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>
                                <ng-container matColumnDef="cantidadPoderes">
                                    <th mat-header-cell *matHeaderCellDef>Cantidad de poderes</th>
                                    <td mat-cell *matCellDef="let element"> {{element.powers_amount}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                <tr mat-row *matRowDef=" let row; columns: displayedColumns2"></tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="BUENOS/MALOS">
                        <ng-template ngbTabContent>
                            <h4>(Consulta 11)</h4>
                            <mat-form-field>
                                <mat-label>Seleccione Consulta Comics</mat-label>
                                <mat-select [(ngModel)]="alignmentSelected"
                                            (ngModelChange)="llamarConsultaAlignment()">
                                    <mat-option *ngFor="let alignment of selectAlignments"
                                                [value]="alignment.value">
                                        {{alignment.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="alignmentSelected">
                                <table mat-table [dataSource]="dataSourceAlignment" class="mat-elevation-z8" matSort
                                       style="width: 100%">
                                    <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="naparicionesComics">
                                        <th mat-header-cell *matHeaderCellDef>Nº de apariciones</th>
                                        <td mat-cell
                                            *matCellDef="let element"> {{element.aparicionesEnComics}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsWomen"></tr>
                                    <tr mat-row *matRowDef=" let row; columns: displayedColumnsWomen"></tr>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Consultas sobre comics">
        <div class="container" align="center">
            <div class="tim-title">
                <h2>Consultas sobre comics</h2>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Seleccione Consulta Comics</mat-label>
                    <mat-select [(ngModel)]="consultaComicSeleccionada" (ngModelChange)="llamarConsultaComic()">
                        <mat-option *ngFor="let consultaComic of consultasComic" [value]="consultaComic">
                            {{consultaComic}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <br><br><br>
            </div>
            <div class="container" align="center">
                <div *ngIf="consultaComicSeleccionada=='El comic de los Vigoréxicos'">
                    <h2>El comic que tiene los heroes mas fuertes, de una muestra de 1000 comics aleatorios, es: <span
                            style="color: red">{{comicHeoesFuertes}}</span></h2>
                </div>

            </div>
        </div>
    </mat-tab>
</mat-tab-group>
