<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/marvel.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/marvel.png" alt="">
                    </div>
                    <h1 class="presentation-title">Práctica tecnología de base de datos</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Consultas MongoDB</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Todos los derechos reservados
        <!-- <h6 class="category category-absolute">Designed and coded by -->

        </h6>
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>
</div>
